.error {
    color: red;
}

.error-div {
    background-color: #f8d7da;
    border-color: #f5c2c7;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #842029;
    margin-bottom: 1rem;
    position: relative;
    padding: 1rem 1rem;
}
