.header-sec {
    .nav-link {
        color: #22bf2e;
    }
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link,
    .nav-pills .nav-link:hover {
        color: #fff;
        background-color: #22bf2e;
    }
}

.navbar-toggler {
    border: 2px solid #22bf2e;
    box-shadow: 0 0 0 0 transparent;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse {
    flex-grow: 0;
}
