.forget-password-sec {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    min-height: 300px;
    .forget-password-header {
        line-height: 2.4em;
        color: #22bf2e;
    }
    .error {
        color: red;
    }
    .btn-link {
        color: #22bf2e;
        text-decoration: none;
        padding-right: 0px;
        padding-left: 0px;
    }
    .btn-success {
        color: #fff;
        background-color: #22bf2e;
        border-color: #22bf2e;
        &:hover,
        &:focus {
            background-color: #1a9824;
            border-color: #1a9824;
        }
    }
}