<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 align-self-center">
            <div *ngIf="!resetView">
                <fb-forget-password (resetViewEnable)="changeToReset($event)"></fb-forget-password>
            </div>
            <div *ngIf="resetView" class="container col-lg-10 col-xl-8 reset-password-sec">
                <div class="row text-center">
                    <h3 class="reset-password-header"> Reset Password </h3>
                </div>
                <fb-reset-password [userId]="userID"></fb-reset-password>
            </div>
        </div>
    </div>
</div>
