.register-sec {
    margin-bottom: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
    box-shadow: 15px 0 15px -15px rgb(0 0 0 / 30%), -15px 0 15px -15px rgb(0 0 0 / 30%);
    .register-header {
        line-height: 2.5em;
        color: #22bf2e;
    }
}
